extends ./templates/layout.pug
include ./components/mixins.pug
block variables
  - var dark_footer = 'footer__dark'
block meta
  title Be Natural - Categoria
block content
  main(class="category")
    div.wrapper
      div.category__container
        h2 Categoria 1