extends ./templates/layout.pug
include ./components/mixins.pug
block variables
  - var dark_footer = 'footer__dark'
block meta
  title Be Natural - Contacto
block content
  main(class="contact")
    div.wrapper
      div.contact__container
        form(action="", method="post", class="contact__form")
          div.contact__group
            label(for="email")
              | Correo electrónico
            input(type="email", name="email", id="email", class="contact__input", placeholder="Ingrese su correo electrónico")