extends ./templates/layout.pug
block variables
  - var home_layout = 'layout-home'
block meta
  title Be Natural
block content
  main(class="home")
    div.wrapper
      div.home__container
        div.home__title-container
          h1.home__title Be Natural
        img(class="home__image", src=require("../public/images/home-background.png").default, alt="be natural home imagen")