.about {
  position: relative;
  .wrapper {
    height: 100%;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr var(--about-width);
    place-items: center center;
    height: 100%;
  }
  &__info {
    max-width: 46rem;
  }
  &__title {
    font-size: 7.5rem;
    font-weight: 700;
    margin: 0 0 0.3em;
    color: var(--green-clr);
  }
  &__description {
    font-size: 1.8rem;
    text-align: justify;
    line-height: 2.2rem;
    margin: 0;
  }
  &__image {
    --top: calc(var(--about-height) / 2);
    position: absolute;
    top: calc(50% - var(--top));
    right: 0;
    width: var(--about-width);
    height: var(--about-height);
  }
}
