// Adding fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

// Variables
:root {
  // fonts
  --ft-nunito: "Nunito", sans-serif;
  --ft-montserrat: "Montserrat", sans-serif;
  // colors
  --dark-clr: #000000;
  --gray-clr: #999999;
  --white-clr: #ffffff;
  --green-clr: #78ad1a;
  // sizes
  --logo-size: 6.5rem;
  --icon-size: 2.6rem;
  --about-width: 85rem;
  --about-height: 56rem;
  --catalogo-width: 23rem;
  --catalogo-height: 20rem;
}

// Globals Styles
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: var(--ft-montserrat);
  color: var(--gray-clr);
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
figure {
  margin: 0;
}

//utils
.wrapper {
  max-width: 150rem;
  padding: 0 1.6rem;
  margin: 0 auto;
}
.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  &-home {
    grid-template-rows: auto 1fr;
  }
}
