.home {
  position: relative;
  overflow: hidden;
  .wrapper {
    height: 100%;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    overflow: hidden;
  }
  &__title {
    &-container {
      display: flex;
      align-items: center;
    }
    display: block;
    max-width: 6ch;
    word-wrap: break-word;
    margin: 0;
    font-size: 15rem;
    font-weight: 700;
    line-height: 0.8;
    color: var(--green-clr);
  }
  &__image {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
}
