header.header
  div.wrapper
    div.header__container
      a(href="http://localhost:8000/", class="header__logo")
        img(src=require("../../public/images/benatural-logo.svg").default, alt="benatural logo")
      nav.navbar
        ul.navbar__list
          li.navbar__item
            a(href="http://localhost:8000/nosotros.html", class="navbar__link") Nosotros
          li.navbar__item
            a(href="http://localhost:8000/catalogo.html", class="navbar__link") Catalogo
          li.navbar__item
            a(href="http://localhost:8000/", class="navbar__link") Contactanos