block variables
doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block meta
  body
    if home_layout
      div(class=`layout ${home_layout}`)
        include ../components/header.pug
        block content
        div(class="footer__fixed")
          include ../components/footer.pug
    else
      div(class="layout")
        include ../components/header.pug
        block content
        if dark_footer
          div(class=dark_footer)
            include ../components/footer.pug
        else if light_footer
          div(class=light_footer)
            include ../components/footer.pug
        else
          include ../components/footer.pug